<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 offset-l5 s12">
        <a href="javascript:void(0);">fb</a>
        <a href="javascript:void(0);">tw</a>
        <a href="javascript:void(0);">gh</a>
        <a href="javascript:void(0);">cp</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    <%= __('powered_by') %> <a href="http://hexo.io/" class="grey-text text-lighten-4 right" target="_blank">Hexo</a>    
    </div>
  </div>
</footer>