<footer class="page-footer nav-style">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">          
        <p class="text-lighten-4">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <p class="hexo"><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></p>
      </div>
    </div>
  </div>
</footer>